@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Monoton&display=swap');
 

:root {
  background: black;
}

html, body {
  overflow-x: hidden;
}

.rainbow {
  background: linear-gradient(-45deg, rgb(16, 1, 104), rgb(63, 2, 138), rgb(135, 3, 63), rgb(255, 72, 0));
  background-size: 400%;
  animation: gradient 8s ease infinite;

}

.layout {
  width: 100%;
  max-width: 900px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(171, 8, 8);
  text-shadow: 1px 1px .5px rgba(111, 0, 255, 0.417);
  font-family: 'Kanit';
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}  


header {
  color: rgb(171, 8, 8);
  text-shadow: 1px 2px .1px #000000;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 2rem;
  border-radius: .5em;
}

.navbar-link {
  color: rgb(171, 8, 8);
  text-decoration: none;
  font-family: 'Kanit';
  font-size: .7rem;
}

.navbar-link:hover{
  color: rgba(255, 255, 0, 0.663);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Kanit';
  background-color: black;
  color: rgb(171, 8, 8);
  height: 3.5em;
  text-decoration: none;
  font-size: .7rem;
  margin-top: 1em;
  border-radius: .5em;
}

.github-link {
  color: rgb(171, 8, 8);
  text-decoration: none;
  font-size: 3.5em;
}

.github-link:hover{
  color: rgba(255, 255, 0, 0.663);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

