.landing {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 600px) {
    .landing {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      overflow-x: hidden;
    }
  }

  .record {
    margin: 1rem;
    animation: fadeIn 2s;
  }
  
  .outer-record{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(16, 14, 18), rgb(10, 8, 15), rgb(8, 4, 15));
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .inner-record {
    text-align: center;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    border: solid black 2px;
    font-size: 2rem;
    font-family: 'Monoton';
    color: rgba(255, 136, 0, 0.76);
    text-shadow: 2px 2px 1px black;
    background-color: rgb(44, 18, 127);
    border: rgba(255, 255, 0, 0.663) solid 2px;
    animation-name: rotate; 
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  
  
  .x {
    margin-top: 0;
  }
  
  .explanation {
    background-color: black;
    border-radius: 2em;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
    animation: fadeIn 2s;
  }
   
  .dcdx {
    margin-bottom: 0;
    font-size: 1rem;
    color: rgba(255, 255, 0, 0.663);
    font-family: 'Monoton';
  }

  .orange {
    color: rgba(255, 136, 0, 0.76);
  }