/* PostPage */
.post-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
  }

  .post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 25rem;
    border-radius: 2em;
    margin: 2em;
  }

  @media only screen and (max-width: 600px) {
    .post-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        border-radius: 2em;
        margin: 2em;
        height: 100%;
      }
  }
  
  .post-page-title {
    text-align: center;
    font-size: 1.2em;
    max-width: 80%;
    margin-top: .5em;
  }

  .post-tile-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
  
  .post-page-form-tile {
    max-width: 13em;
    margin-left: 1em;
  }

  .post-page-form {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .post-page-text-input {
    font-family: 'Kanit';
    font-size: 1rem;
    background-color: black;
    color: rgb(171, 8, 8);
    border: solid rgba(111, 0, 255, 0.663) 2px;
    border-radius: 0.25em;
    margin: 1rem;
    width: 23rem;
  }

  @media only screen and (max-width: 600px) {
    .post-page-text-input {
        width: 21em;
    }
  }

  .post-page-text-input::selection {
    background: rgb(171, 8, 8);
    color: black;
  }
  
  .post-page-text-input:focus {
    outline: none;
  }
  
  .post-page-form-link {
    font-family: 'Kanit';
    font-size: 1rem;
    background-color: black;
    color: rgb(171, 8, 8);
    border: solid rgba(111, 0, 255, 0.663) 2px;
    border-radius: 0.25em;
    margin: 1rem;
    width: 23rem;
  }

  @media only screen and (max-width: 600px) {
    .post-page-form-link {
        width: 21em;
    }
  }

  .post-page-form-link::selection {
    background: rgb(171, 8, 8);
    color: black;
  }
  
  .post-page-form-link:focus {
    outline: none;
  }

  .btn {
      margin: .5em;
      margin-bottom: 1em;;
  }