.search-and-post-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1433px;
  height: 44em;
}

@media only screen and (max-width: 600px) {
  .search-and-post-container {
      width: 333px;
      height: 100%;
      display: flex;
      flex-direction: column;
  }
}



.search-container {
    width: 40rem;
  }

.search-form-container {
  display: flex;
  align-items: center;   
  justify-content: center;
  flex-direction: column;
  background-color: black;
  border-radius: 2em;
  height: 12rem;
}

@media only screen and (max-width: 600px) {
  .search-form-container {
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: black;
    border-radius: 2em;
    height: 16rem;
    width: 333px;
    margin-top: 1em;
  }
}

.search-message {
  font-size: 1.8rem;
  margin: .4rem; 
}

@media only screen and (max-width: 600px) {
  .search-message {
    font-size: 1.8rem;
    margin: 1rem; 
  }
  
}

.search-form {
  color: rgb(171, 8, 8);
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
  
  .search-input {
    background-color: black;
    border: solid rgb(60, 7, 236) 2px;
    font-family: 'Kanit';
    font-size: 1.5rem;
    color: rgb(171, 8, 8);
    border-radius: 0.25rem;
    margin: 0;
    width: 17rem;
    height: 2rem;
  }

  .search-input::selection {
    background: rgb(171, 8, 8);
    color: black;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .search-btn {
    display: flex;
    align-items: center;   
    justify-content: center;
    background-color: rgb(171, 8, 8);
    text-decoration: none;
    text-shadow: none;
    color: black;
    font-size: 1.2rem;
    font-family: 'Kanit';
    border-radius: 1em;
    width: 10rem;
    height: 1.6em;
    margin: 1rem;
    border: none;
  }

  .search-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.663); 
  }
  
  .search-results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    width: 40em;
    height: 24rem;
    background-color: black;
    border-radius: 2em;
    overflow-y: scroll; 
    scrollbar-color: rgb(171, 8, 8);
  }

  @media only screen and (max-width: 600px) {
    .search-results-container {
      width: 333px;
    }
  }

  .post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 40rem;
    height: 36rem;
    border-radius: 2em;
    margin: 1rem;
  }

  @media only screen and (max-width: 600px) {
    .post-container {
    }
  }

  .empty-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33rem;
    height: 33rem;
    background-color: black;
    border-radius: 2em;
    margin: 1rem;
    margin-right: 2.3em;
  }

  @media only screen and (max-width: 600px) {
    .empty-post-container {
    }
  }

  
  .search-result-tiles {
    max-width: 15em;
    margin: 1em;
  }

  .tiles {
    max-width: 100%;
  }

  .selection-img {
    max-width: 15em;
    margin: 1em;
  }
  
  .post-link {
    display: flex;
    align-items: center;   
    justify-content: center;
    background-color: rgb(171, 8, 8);
    text-decoration: none;
    text-shadow: none;
    color: black;
    font-size: 1.2rem;
    font-family: 'Kanit';
    border-radius: 1em;
    width: 10rem;
    height: 1.6em;
    margin: 1rem;
  }
  
  .post-link:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.663); 
  }
  
  .fave-btn {
    display: flex;
    align-items: center;   
    justify-content: center;
    background-color: rgb(171, 8, 8);
    color: black;
    font-size: 1.2rem;
    font-family: 'Kanit';
    border-radius: 1em;
    border: none;
    width: 10rem;
    margin: 1rem;
  }
  
  .fave-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.663); 
  }
  
  .empty-search-message {
    margin: 1em;
  }

  
  