:root {
  background-color: rgb(65, 5, 5);
  
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: rgb(171, 8, 8);
  text-shadow: 3px 3px .1px #000000;
  text-align: center;
  width: 100%;
  height: 50rem;
}

header {
  color: rgb(171, 8, 8);
  text-shadow: 1px 2px .1px #000000;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items:center;
  background-color: rgb(20, 18, 18);
  box-shadow: .5px .5px 5px #000000;
  height: 3rem;
}

.navbar-link {
  color: rgb(171, 8, 8);
  text-shadow: 1px 1px .5px #000000;
  text-decoration: none;
  font-size: 4vh;
  font-weight: 700;
}

.navbar-link:hover{
  color: rgb(58, 8, 220);
  text-shadow: 1px 1px .5px #000000;
}

.footer {
  margin-top: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(171, 8, 8);
  background-color: rgb(20, 18, 18);
  box-shadow: .5px .5px 5px #000000;
  height: 3em;
  color: rgbrgb(171, 8, 8);
  text-shadow: 1px 1px .5px #000000;
  text-decoration: none;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 700;
}

.github-link {
  color: rgb(171, 8, 8);
  text-shadow: 1px 1px .5px #000000;
  text-decoration: none;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 700;
}

.github-link:hover{
  color: rgb(60, 7, 236);
  text-shadow: 1px 1px .5px #000000;
}

/* landing */
.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-column {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
  background-color: black;
  border-radius: 0.75em;
  height:15rem;
  border: rgb(60, 7, 236) solid 2px;
}

.login-input {
  background-color: black;
  border: rgb(171, 8, 8) solid 2px;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(171, 8, 8);
  border-radius: 0.25rem;
  margin: 0.3rem;
  width: 18rem;
  height: 1.7rem;
}

.login-input:focus {
  outline: none;
}

.btn {
  background-color: black;
  color: rgb(171, 8, 8);
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.75em;
  border: solid rgb(171, 8, 8) 2px;
  width: 10rem;
  height: 2rem;
  margin: 7px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(171, 8, 8); 
  color: black;
  text-shadow: none;
}

.sign-up-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  background-color:black;
  height: 7rem;
  width:20rem;
  margin-top: 10px;
  border-radius: 0.75em;
  border: solid rgb(60, 7, 236) 2px;
}


.register {
  color: rgb(171, 8, 8);
  text-shadow: 1px 1px .5px #000000;
}

.register:hover {
  color: rgb(60, 7, 236);
}


.msg {
  font-size: 1.2rem;
  font-weight: 700;
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  background-color:black;
  height: 31rem;
  width:20rem;
  margin-top: 10px;
  border-radius: 0.75em;
  border: solid rgb(60, 7, 236) 2px;
}

.ex-padd {
  margin: 2vh;
}

.record {
  display: flex;
  margin: 55px;
}

.outer-record{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  background-color: black;
  border: solid rgb(60, 7, 236) 2px;
}

.inner-record {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  border: solid rgb(171, 8, 8) 2px;
  color: rgb(171, 8, 8);
  font-size: 5rem;
  text-shadow: 2px 2px 1px black;
  background-color: rgb(44, 18, 127);
}

/* Signup */
.sign-up-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  background-color:black;
  height: 40rem;
  width: 30rem;
  margin-top: 10px;
  border-radius: 0.75em;
  border: solid rgb(60, 7, 236) 2px;
}

.sign-up {
  font-size: 2.5rem;
  font-weight: 700;
  margin: none;
}

.signup-input {
  background-color: black;
  border: solid rgb(171, 8, 8) 2px;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(171, 8, 8);
  border-radius: 0.25rem;
  margin: 0.3rem;
  width: 19rem;
  height: 1.7rem;
}

.signup-input:focus {
  outline: none;
}

.signup-btn {
  background-color: black;
  color: rgb(171, 8, 8);
  border: solid rgb(171, 8, 8) 2px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.75em;
  width: 10rem;
  height: 3rem;
  margin: 2rem;
}

.signup-btn:hover {
  cursor: pointer;
  background-color: rgb(171, 8, 8); 
  color: black;
}


/* Home */
.home {
 height: 60rem;
 overflow-y: auto;
}

.dd {
  font-size: 3.5rem;
  margin-top: 6vh;
  margin-bottom: 0vh;;
  text-shadow: 4px 4px .5px black;
}

/* Post */
.post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40rem;
  width: 100%;
}

.title-tile-text {
  background-color: rgb(20, 18, 18);
  border: rgb(60, 7, 236) solid 2px;
  border-radius: 0.25em;
  width: 90rem;
  padding: 10px;
  margin: 3rem;
}


.post-title {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  color:rgb(171, 8, 8);
  text-shadow: 2px 2px 1px black;
  width: 100%;
  height: 1em;
  /* border: yellow solid 1px; */
  margin-bottom: 1rem;
}

.post-tile {
  height: 24rem;
  width: 24rem;
  cursor: pointer;
  margin: 2rem;
  border: yellow solid 1px;
  object-fit: contain;
}

.creator-and-post {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 58%;
  height: 24rem;
  margin: 2rem;
  background-color: rgba(27, 25, 84, 0.757);
  border: rgb(171, 8, 8) solid 2px;
  border-radius: 0.25em;
}


.tile-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.post-creator { 
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(171, 8, 8);
  text-shadow: 2px 2px .1px #000000;
  text-decoration: none;
  background-color: rgb(20, 18, 18);
  border: rgb(171, 8, 8) solid 2px;
  border-radius: 0.5em;
  margin: 15px;
  height: 1.3em;
  width: 33%;
}

.post-creator:hover {
  cursor: pointer;
  background-color: rgb(58, 8, 220);
}

.post-text {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 2rem;
  flex: 1;
  overflow-y: scroll;
  word-wrap: normal;
  padding: 5px;
}

/* Profile */
.profile {
  width: 100%;
  height: 60rem;
  overflow-y: auto;
}

.owner-name {
 font-size: 3rem;
 margin-bottom: 3px;
}

.profile-posts-and-faves-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 97.5%;
  height: 150vh;
  /* overflow-y: auto; */
}

.profile-posts-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;
  width: 66%;
  /* border: yellow solid 1px; */
}

.pro-title-tile-text {
  background-color: rgb(20, 18, 18);
  border: rgb(60, 7, 236) solid 2px;
  border-radius: 0.25em;
  width: 50rem;
  height: 25rem;
  padding: 10px;
  margin: 1rem;
}



.pro-post-title {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  font-size: 2rem;
  color:rgb(171, 8, 8);
  margin: 5px;
  text-shadow: 2px 2px 1px black;
  width: 100%;
  height: 1em;
  /* border: yellow solid 1px; */
}


.pro-post-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18rem;
  cursor: pointer;
  margin: 20px;
  /* border: yellow solid 1px; */
}

.pro-creator-and-post {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 18rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 700;
  background-color: rgba(5, 2, 79, 0.387);
  border: rgb(171, 8, 8) solid 2px;
  border-radius: 0.25em;
}

.pro-tile-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: yellow solid 1px; */
}

.pro-post-text {
  font-size: 0.5em;;
  margin: 17px;
  flex: 1;
  overflow-y: scroll;
  word-wrap: normal;
  padding: 5px;
}

.btn-edit {
    background-color: rgb(44, 18, 127);
    color: rgb(171, 8, 8);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.75em;
    border: solid black 2px;
    text-shadow: 1px 1px 1px black;
    width: 10vw;
    margin-top: 0px;
  }
  
  .btn-edit:hover {
    cursor: pointer;
    background-color: rgb(171, 8, 8); 
    color: black;
    text-shadow: none;
  }

  .edit-delete-btn {
    background-color: rgb(44, 18, 127);
    color: rgb(171, 8, 8);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.75em;
    border: solid black 1.2px;
    text-shadow: 1px 1px 1px black;
    width: 7vw;
    height: 3vh;
    margin: 2px;
  }

  .edit-delete-btn:hover {
    cursor: pointer;
    background-color: rgb(171, 8, 8); 
    color: black;
    text-shadow: none;
  }

  #delete-profile-btn {
    background-color: rgb(44, 18, 127);
    color: rgb(171, 8, 8);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.75em;
    border: solid rgb(171, 8, 8) 2px;
    text-shadow: 1px 1px 1px black;
    width: 10rem;
    margin: 2rem;
  }

  #delete-profile-btn:hover {
    cursor: pointer;
    background-color: rgb(171, 8, 8); 
    color: black;
    text-shadow: none;
  }

  .btn-dlt {
    background-color: rgb(44, 18, 127);
    color: rgb(171, 8, 8);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.75em;
    border: solid black 1.2px;
    text-shadow: 1px 1px 1px black;
    width: 7vw;
    height: 3vh;
    margin: 2px;
  }

  .btn-dlt:hover {
    cursor: pointer;
    background-color: rgb(171, 8, 8); 
    color: rgb(44, 18, 127);
  }

  .edit-input {
  background-color: rgb(44, 18, 127);
  color: rgb(171, 8, 8);
  border: solid black 1.2px;
  border-radius: 0.25em;
  margin-top: 30px;
  width: 25vw;
  }

  .edit-input:focus {
    outline: none;
  }

.fave-tile-container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 30vw;
  background-color: rgb(20, 18, 18);
  border: rgb(60, 7, 236) solid 2px;
  border-radius: 0.25em;
  overflow-y: auto;
}

.fave-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  /* border: yellow solid 1px; */
}


/* tiles */
img {
  width: 100% 
} 

.tiles {
  margin: 1rem;
  width: 18rem;
  cursor: pointer;
}


/* Search page */
.search-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(20, 18, 18);
  border: rgb(60, 7, 236) solid 2px;
  border-radius: 0.25em;
  margin: 2rem;
  width: 36rem;
  height: 12rem;
}

.search-form {
  color: rgb(171, 8, 8);
  text-shadow: 1px 2px .1px #000000;
}

.search-message {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 1rem;
}

.search-input {
  background-color: black;
  color: rgb(171, 8, 8);
  border: solid rgb(171, 8, 8) 2px;
  border-radius: 0.25em;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem;
  width: 25rem;
  height: 1.5rem;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  background-color: rgb(44, 18, 127);
  color: rgb(171, 8, 8);
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 0.75em;
  border: solid rgb(171, 8, 8) 2px;
  text-shadow: 1px 1px 1px black;
  width: 10rem;
  margin: 1rem;
}

.search-btn:hover {
  cursor: pointer;
  background-color: rgb(171, 8, 8); 
  color: black;
  text-shadow: none;
}

.search-results-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 36rem;
  height: 40rem;
  background-color: rgb(20, 18, 18);
  border: rgb(60, 7, 236) solid 2px;
  border-radius: 0.25em;
  overflow-y: scroll; 
}

.search-and-post-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.search-and-post-border {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 30px;
}

.selection-img {
    margin: 10px;
    width: 30vw;
}

.post-selection-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 36rem;
  height: 54rem;
  background-color: rgb(20, 18, 18);
  border: rgb(60, 7, 236) solid 2px;
  border-radius: 0.25em;
  overflow-y: scroll; 
}

.post-link {
  background-color: rgb(44, 18, 127);
  color: rgb(171, 8, 8);
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 0.75em;
  border: solid rgb(171, 8, 8) 2px;
  text-shadow: 1px 1px 1px black;
  width: 10rem;
  margin: 1rem;
  text-decoration: none;
}

.post-link:hover {
  cursor: pointer;
  background-color: rgb(171, 8, 8); 
  color: black;
  text-shadow: none;
}

.fave-btn {
  background-color: rgb(44, 18, 127);
  color: rgb(171, 8, 8);
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 0.75em;
  border: solid rgb(171, 8, 8) 2px;
  text-shadow: 1px 1px 1px black;
  width: 10rem;
  margin: 1rem;
}

.fave-btn:hover {
  cursor: pointer;
  background-color: rgb(171, 8, 8); 
  color: black;
  text-shadow: none;
}


.empty-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 89vh;
  background-color: rgb(20, 18, 18);
  border: black solid 1px;
  border-radius: 0.25em;
}

/* PostPage */
.post-page-ttt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80rem;
  height: 40rem;
  margin: 20px;
  background-color: rgb(20, 18, 18);
  border: rgb(60, 7, 236) solid 2px;
  border-radius: 0.25em;
}


.post-page-title {
  font-size: 2em;
  font-weight: 700;
  margin: 5px;
}

.post-page-form-tile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  font-weight: 700;
}

.post-page-text-input {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: black;
  color: rgb(171, 8, 8);
  border: solid rgb(171, 8, 8) 2px;
  border-radius: 0.25em;
  margin: 1rem;
  width: 36rem;

}

.post-page-text-input:focus {
  outline: none;
}

.post-page-form-link {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: black;
  color: rgb(171, 8, 8);
  border: solid rgb(171, 8, 8) 2px;
  border-radius: 0.25em;
  margin: 1rem;
  width: 36rem;
}


.post-page-form-link:focus {
  outline: none;
}

/* .search-btn {
  background-color: rgb(44, 18, 127);
  color: rgb(171, 8, 8);
  font-size: 0.9em;
  border-radius: 0.75em;
  border: solid black 1.2px;
  text-shadow: 1px 1px 1px black;
  width: 10vw;
  margin: 3px
}

.search-btn:hover {
  cursor: pointer;
  background-color: rgb(171, 8, 8); 
  color: rgb(44, 18, 127);
} */





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


